:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --clr-gold:235 216% 212%;
    
    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
}
body{
    background-color: hsl(var(--clr-dark));
}
.navigation{
    height: 65px;
    position: relative;
    background-color: hsl(var(--clr-dark));
}
#home{
 
   height: 25px;
   padding: 20px;
   position: absolute;
   left: 65%;
   font-weight: 600;
   font-size:var(--fs-500)
   color:hsl(var(--clr-light))
}
#work{

    height: 25px;
    padding: 20px;
    position: absolute;
    left: 75%;
    font-weight: 600;
    font-size:var(--fs-500)
    color:hsl(var(--clr-light))
}
#contact{
    
    height: 25px;
    padding: 20px;
    position: absolute;
    left: 85%;
    font-weight: 600;
    font-size:var(--fs-500)
    color:hsl(var(--clr-light))
}
.one-section{
    height: 800px;
    width: 100%;
    background-color: hsl(var(--clr-gold));
    display: grid;
    justify-items: center;
}
h1,
p{
    color: hsl(var(--clr-dark));
    font-size: var(--fs-800);
}


