:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --clr-gold: 235 216% 212%;
    --clr-RoseGold: 351 34% 57%;
    --clr-White-Gold: 31 25% 65%;
    --clr-vintage-Red:4 66% 28%;
    --clr-wood-Brown:42 37% 41%;
    
    /* font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
}
body{
    background-color: hsl(var(--clr-dark));
}
.navigation{
    height: 65px;
    display:grid;
    background-color: hsl(var(--clr-dark));
    grid-template-columns: 1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr;
    
}
#home{
 
   font-weight: 400;
   font-size:var(--fs-500);
   font-style: none;
   text-decoration: none;
   color:hsl(var(--clr-light));
   grid-column-start: 7;
   letter-spacing: 5px;

}
#work{
    font-weight: 400;
    font-size:var(--fs-500);
    color:hsl(var(--clr-light));
    font-style:none;
    text-decoration:none;
    grid-column-start: 8 ;
    letter-spacing: 5px;
}
#contact{

    font-weight: 400;
    font-size:var(--fs-500);
    color:hsl(var(--clr-light));
    font-style:none;
    text-decoration: none;
    grid-column-start: 9;
    letter-spacing: 5px;
}
#contact:hover{
    background-color: aliceblue;
    color: hsl(var(--clr-dark));
}

#work:hover{
    background-color: aliceblue;
    color: hsl(var(--clr-dark));
}
#home:hover{
    background-color: aliceblue;
    color: hsl(var(--clr-dark));
}
.logo{
    color: hsl(var(--clr-light));
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: var(--fs-500);

}
.one-section{
    height: 700px;
    width: 100%;
    display: grid;
    
}
h1
{
    /*font-size: 72px;
    background: -webkit-linear-gradient(hsl(var(--clr-RoseGold)),hsl(27, 100%, 87%));
    -webkit-background-clip: text; YUKH THESE COLORS SUCKS
    -webkit-text-fill-color: transparent;
  }*/
    color:hsl(var(--clr-wood-Brown));
    font-size: var(--fs-700);
    font-family: 'Hind', sans-serif;
    font-weight:600;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
h2{
    position: relative;
    font-size: var(--fs-700);
    font-family: 'Hind', sans-serif;
    letter-spacing: 5px;
    font-weight: 800;
    color:hsl(var(--clr-vintage-Red));
    margin: 28% 0 0 24%;
}
h2::before,
h2::after{
    content: '';
    position:absolute;
    top:0%;
    left:0%;
    bottom:0%;
    right:0%;
}
h2::before{
    background: hsl(var(--clr-dark));
    animation: typewriter 4s steps(25) infinite;
}

@keyframes typewriter {
    to {left: 100%;}
}